USE [master]
GO
/****** Object:  Database [RESTAURANT]    Script Date: 15/12/2020 23:26:42 ******/
CREATE DATABASE [RESTAURANT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTAURANT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RESTAURANT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESTAURANT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RESTAURANT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTAURANT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTAURANT]
GO
/****** Object:  Table [dbo].[Commande]    Script Date: 15/12/2020 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commande](
	[ID_commande] [int] NOT NULL,
	[ID_recette] [int] NOT NULL,
	[nom_recette] [nvarchar](250) NULL,
	[prix_recette] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientRecette]    Script Date: 15/12/2020 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientRecette](
	[nom_ingredient] [nvarchar](100) NULL,
	[quantite] [int] NULL,
	[ID_recette] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recette]    Script Date: 15/12/2020 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recette](
	[ID_recette] [int] NOT NULL,
	[nom_recette] [nvarchar](250) NOT NULL,
	[prix_recette] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_recette] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
