USE [master]
GO
/****** Object:  Database [BDD_projetSyst]    Script Date: 15/12/2020 8:57:10 PM ******/
CREATE DATABASE [BDD_projetSyst]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDD_projetSyst', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDD_projetSyst.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDD_projetSyst_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDD_projetSyst_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDD_projetSyst].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDD_projetSyst]
GO
/****** Object:  Table [dbo].[Avoir]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avoir](
	[ID] [int] NOT NULL,
	[ID_recette] [int] NOT NULL,
 CONSTRAINT [Avoir_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_recette] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commande]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commande](
	[ID_commande] [int] IDENTITY(1,1) NOT NULL,
	[Prix_commande] [int] NOT NULL,
 CONSTRAINT [Commande_PK] PRIMARY KEY CLUSTERED 
(
	[ID_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contenir]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contenir](
	[ID_ingredient] [int] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [Contenir_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ingredient] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etre]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etre](
	[ID_commande] [int] NOT NULL,
	[ID_recette] [int] NOT NULL,
 CONSTRAINT [Etre_PK] PRIMARY KEY CLUSTERED 
(
	[ID_commande] ASC,
	[ID_recette] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientRecette]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientRecette](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantite] [float] NOT NULL,
	[Nom_ingredient] [varchar](255) NULL,
	[IDRecette_ref] [int] NULL,
 CONSTRAINT [IngredientRecette_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiel]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiel](
	[ID_materiel] [int] IDENTITY(1,1) NOT NULL,
	[Nom_materiel] [varchar](255) NOT NULL,
	[Qte_materiel] [int] NOT NULL,
 CONSTRAINT [Materiel_PK] PRIMARY KEY CLUSTERED 
(
	[ID_materiel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recette]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recette](
	[ID_recette] [int] IDENTITY(1,1) NOT NULL,
	[Nom_recette] [varchar](255) NOT NULL,
	[Prix] [int] NOT NULL,
	[Categorie] [varchar](255) NULL,
	[Num_categorie] [int] NULL,
 CONSTRAINT [Recette_PK] PRIMARY KEY CLUSTERED 
(
	[ID_recette] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationTable]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationTable](
	[ID_reservation] [int] IDENTITY(1,1) NOT NULL,
	[Nom_client] [varchar](255) NOT NULL,
	[Nb_Personne] [int] NOT NULL,
	[Horaire] [time](2) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [ReservationTable_PK] PRIMARY KEY CLUSTERED 
(
	[ID_reservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockIngredients]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockIngredients](
	[ID_ingredient] [int] IDENTITY(1,1) NOT NULL,
	[Nom_ingredient] [varchar](255) NOT NULL,
	[Categorie] [int] NOT NULL,
	[QuantiteStock] [float] NOT NULL,
 CONSTRAINT [StockIngredients_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ingredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ustensiels]    Script Date: 15/12/2020 8:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ustensiels](
	[ID_ustensiels] [int] IDENTITY(1,1) NOT NULL,
	[Nom_ustensiel] [varchar](255) NOT NULL,
	[Qte_ustensiel] [int] NOT NULL,
 CONSTRAINT [Ustensiels_PK] PRIMARY KEY CLUSTERED 
(
	[ID_ustensiels] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Avoir]  WITH CHECK ADD  CONSTRAINT [Avoir_IngredientRecette_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[IngredientRecette] ([ID])
GO
ALTER TABLE [dbo].[Avoir] CHECK CONSTRAINT [Avoir_IngredientRecette_FK]
GO
ALTER TABLE [dbo].[Avoir]  WITH CHECK ADD  CONSTRAINT [Avoir_Recette0_FK] FOREIGN KEY([ID_recette])
REFERENCES [dbo].[Recette] ([ID_recette])
GO
ALTER TABLE [dbo].[Avoir] CHECK CONSTRAINT [Avoir_Recette0_FK]
GO
ALTER TABLE [dbo].[Contenir]  WITH CHECK ADD  CONSTRAINT [Contenir_IngredientRecette0_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[IngredientRecette] ([ID])
GO
ALTER TABLE [dbo].[Contenir] CHECK CONSTRAINT [Contenir_IngredientRecette0_FK]
GO
ALTER TABLE [dbo].[Contenir]  WITH CHECK ADD  CONSTRAINT [Contenir_StockIngredients_FK] FOREIGN KEY([ID_ingredient])
REFERENCES [dbo].[StockIngredients] ([ID_ingredient])
GO
ALTER TABLE [dbo].[Contenir] CHECK CONSTRAINT [Contenir_StockIngredients_FK]
GO
ALTER TABLE [dbo].[Etre]  WITH CHECK ADD  CONSTRAINT [Etre_Commande_FK] FOREIGN KEY([ID_commande])
REFERENCES [dbo].[Commande] ([ID_commande])
GO
ALTER TABLE [dbo].[Etre] CHECK CONSTRAINT [Etre_Commande_FK]
GO
ALTER TABLE [dbo].[Etre]  WITH CHECK ADD  CONSTRAINT [Etre_Recette0_FK] FOREIGN KEY([ID_recette])
REFERENCES [dbo].[Recette] ([ID_recette])
GO
ALTER TABLE [dbo].[Etre] CHECK CONSTRAINT [Etre_Recette0_FK]
GO
USE [master]
GO
